@font-face {
    font-family: appHeader;
    src: url(FredokaOne-Regular.ttf);
}

body {
	background: #99f;
	color: #000;
	width: 855px;
	margin: auto;
	font-size: 1em;
}

header, main, footer {
	text-align: center;
	min-with: 855px;
}

main .containor {
	background: #aaf;
}

.containor {
	max-width: 855px;
	margin: auto;
}

main {
	border: 3px solid #000;
	display: block;
}

a {
	color: #00f;
	background: #ff0;
	text-decoration: none;
}

a:visited {
	color: #f00;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: appHeader, cursive;
	letter-spacing: 3px;
	font-size: 2.5em;
}

h2 {
	font-family: appHeader, cursive;
	font-size: 1.5em;
}

.inputField {
	border: 2px solid #ff0;
	background: #aaf;
}

.inputField:focus {
	background: #ff0;
}

#theStackList {
	background: #99f;
	width: 570px;
	margin: auto;
	height: 150px;
	overflow: auto;
}

#theStackList p {
	margin: 20px 20px auto;
	border-left: 2px solid #00f;
}

button {
	border: 2px solid #ff0;
}