@font-face {
    font-family: appHeader;
    src: url(FredokaOne-Regular.ttf);
}

body {
	background: #fff;
	color: #000;
	width: 855px;
	margin: auto;
	font-size: 1em;
}

header, main, footer {
	text-align: center;
	min-with: 855px;
}

.containor {
	max-width: 855px;
	margin: auto;
}

main {
	border: 1px solid gray;
	display: block;
}

a {
	color: #00f;
	background: #ff0;
	text-decoration: none;
}

a:visited {
	color: #f00;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: appHeader, cursive;
	letter-spacing: 3px;
	font-size: 2.5em;
}

h2 {
	font-family: appHeader, cursive;
	font-size: 1.5em;
}

#outputStack {
	border: 1px solid gray;
}

.inputField:focus {
	background: #ff0;
}

// need display css